* {
	font-family: Century, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	min-height: 700px;
	padding: 0;
	overflow-x: hidden;
}

.app h1, h2, h3, h4 {
	user-select: none;
}

.app p::selection {
	background: #ddd;
}

.app .constellation {
	z-index: -10;
	position: fixed;
	left: calc(-2000px + 50vw);
	top: calc(-2000px + 50vh);
	transition: opacity 1500ms;
	width: 4000px;
	height: 4000px;
	background-image: url('/resources/background-selection.jpg');
	background-size: cover;
	background-position: 0 50%;
}

.app .constellation.stage-transition,
.app .constellation.stage-results {
	opacity: 0;
}

.app .zodiac-background {
	z-index: -10;
	opacity: 0;
	position: fixed;
	transition: opacity 1500ms;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.app .zodiac-background.stage-results {
	opacity: 1;
}

.app .divider {
	z-index: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.app .header,
.app .date-selection {
	z-index: 25;
	position: absolute;
}

.app .header {
	left: 50%;
	top: 15px;
	transition: 1500ms opacity;
	margin-left: -197.5px;
	border-radius: 50px;
	width: 400px;
	height: 300px;
	text-align: center;
	letter-spacing: 5px;
	color: #ddd;
}

.app .header.stage-transition,
.app .header.stage-results {
	z-index: 0;
	opacity: 0;
}

.app .header h1 {
	font-size: 54px;
}

.app .date-selection {
	left: 50%;
	top: 190px;
	transition: 1500ms opacity;
	margin-left: -200px;
	border-radius: 50px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.5);
}

.app .date-selection.stage-transition,
.app .date-selection.stage-results {
	z-index: 0;
	opacity: 0;
}

.app .date-selection .month-selection {
	margin: 0 25px 20px;
	width: 350px;
	height: 285px;
	text-align: center;
}

.app .date-selection .day-selection {
	display: block;
	margin: 0 25px 20px;
	text-align: center;
}

.app .date-selection .month-selection h3,
.app .date-selection .day-selection h3 {
	display: block;
	margin: 27px 0 24px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	padding: 5px 5px 25px;
	color: #fff;
	font-size: 19.5px;
	font-weight: 100;
	word-spacing: 2px;
}

.app .date-selection .day-selection .back {
	transition: letter-spacing 200ms;
	margin: 28px 0 0;
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	padding: 20px 0 8px;
	color: #f1f1f1;
	letter-spacing: 3px;
	user-select: none;
}

.app .date-selection .day-selection .back:hover {
	letter-spacing: 6.5px;
}

.app .date-selection .message-transition {
	display: inline-block;
	margin: 77px 40px 82px;
	text-align: center;
	font-size: 19.75px;
	color: white;
}

.app .month-selector {
	display: inline-block;
	margin: 13px 9px 4px;
	border: none;
	border-radius: 8px;
	width: 32px;
	padding: 11px;
	padding-right: 11px;
	background: rgba(255, 255, 255, 0.48);
	text-align: center;
	color: #767676;
	font-size: 14.5px;
	font-weight: 800;
	letter-spacing: 1.5px;
	line-height: 16.5px;
	user-select: none;
	outline: none;
}

.app .month-selectors {
	margin: 0 auto;
}

.app .day-selectors {
	width: 320px;
	margin: 0 auto;
}

.app .day-selectors .day-selector {
	display: inline-block;
	margin: 5.5px;
	border: none;
	border-radius: 12px;
	width: 17px;
	padding: 6px 7px 7px 6px;
	background: rgba(255, 255, 255, 0.38);
	text-align: center;
	color: #767676;
	font-size: 14px;
	font-weight: 800;
	line-height: 14.5px;
	user-select: none;
	outline: none;
}

.app .month-selector:hover,
.app .day-selector:hover {
	transform: scale(1.08);
}


.app .footer {
	display: inline-block;
	z-index: 25;
	opacity: 1;
	position: absolute;
	top: calc(11vh + 550px);
	left: 50vw;
	transition: 1500ms opacity, letter-spacing 175ms;
	margin-left: -200px;
	border-radius: 30px;
	width: 400px;
	padding: 20px 0 23px;
	background-color: rgba(255, 255, 255, 0.20);
	text-align: center;
	letter-spacing: 1.7px;
	user-select: none;
}

.app .footer.stage-transition,
.app .footer.stage-results {
	z-index: 0;
	opacity: 0;
}

.app .footer a,
.app .footer a:visited {
	color: #ddd;
	text-decoration: none;
}

.app .footer span {
	margin: 0 20px;
	padding: 0 0 3px;
	color: #ddd;
	font-size: 15px;
}

.app .footer a span {
	border-bottom: 1px solid #ddd;
}

.app .results {
	z-index: 0;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 11vh;
	transition: 1500ms opacity;
	margin-left: -200px;
	border-radius: 50px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.65);
	text-align: center;
}

.app .results.stage-results {
	z-index: 25;
	opacity: 1;
}

.app .results h2 {
	display: block;
	margin: 27px 40px 0;
	border-bottom: 1.5px solid rgba(150, 150, 150, 0.5);
	padding: 0 0 50px 5px;
	font-size: 40px;
	color: rgba(60, 60, 60, 0.9);
	letter-spacing: 10px;
}

.app .results .sign {
	opacity: 0.4;
	position: relative;
	top: -58px;
	margin: -49px 0 0;
	width: 64px;
	height: 64px;
}

.app .results .subject {
	margin: 30px 0 45px;
	color: #717171;
}

.app .results .content {
	margin: 0 35px 32.5px;
	border-radius: 5px;
	max-height: 150px;
	padding: 0 35px 0;
	color: #717171;
	line-height: 21px;
	overflow-y: auto;
}

.app .results .divider {
	display: block;
	position: relative;
	margin: 0 50px;
	border-bottom: 2px solid rgba(175, 175, 175, 0.65);
	border-radius: 5px;
	width: 300px;
	height: 10px;
}

.app .results .page-number {
	display: inline-block;
	margin: 35px 0;
	border-left: 2px solid rgba(165, 165, 165, 0.65);
	border-right: 2px solid rgba(165, 165, 165, 0.65);
	border-radius: 4px;
	padding: 0 26px 0 27px;
	color: #888;
	letter-spacing: 2px;
}

.app .results .previous,
.app .results .next {
	opacity: 0.65;
	position: absolute;
	top: 172px;
	transform: scaleY(2.05);
	transition: opacity 200ms, transform 200ms;
	padding: 6px 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #888;
	user-select: none;
}

.app .results .previous:hover,
.app .results .next:hover {
	opacity: 0.3;
	transform: scale(1, 3.5);
}

.app .results .previous {
	left: 5px;
}

.app .results .next {
	right: 5px;
}

.app .reset {
	display: inline-block;
	z-index: 0;
	opacity: 0;
	position: absolute;
	top: calc(11vh + 550px);
	left: 50vw;
	transition: 1500ms opacity, letter-spacing 175ms;
	margin-left: -125px;
	border-radius: 30px;
	width: 250px;
	padding: 20px 0 23px;
	background-color: rgba(255, 255, 255, 0.65);
	text-align: center;
	color: #717171;
	font-size: 18.5px;
	letter-spacing: 1.7px;
	user-select: none;
}

.app .reset:hover {
	letter-spacing: 7px;
}

.app .reset.stage-results {
	z-index: 25;
	opacity: 1;
}

@media(max-width: 445px) {
		
	body {
		min-height: 770px;
	}

	.app .header {
		width: 80%;
		margin-left: -39.25%;
	}

	.app .header h1 {
		font-size: 42px;
		letter-spacing: 4px;
	}
		
	.app .date-selection {
		top: calc(125px + 4vh);
		left: 50%;
		margin-left: -40%;
		width: 80%;
	}
	
	.app .date-selection .month-selection {
		margin: 0 0 50px;
		width: 100%;
		height: inherit;
	}

	.app .date-selection .day-selection {
		margin: 0 0 20px;
		width: 100%;
	}

	.app .date-selection .month-selection h3 {
		margin-left: 25px;
		margin-right: 25px;
	}

	.app .date-selection .day-selection h3 {
		margin-left: 25px;
		margin-right: 25px;
	}

	.app .month-selectors {
		width: 240px;
	}

	.app .day-selectors {
		width: 240px;
	}
		
	.app .footer {
		top: calc(11vh + 585px);
		margin-left: -40%;
		width: 80%;
		letter-spacing: 1px;
	}
		
	.app .footer span {
		display: inline-block;
		margin: 0 15px;
		padding: 0 0 3px;
		color: #ddd;
		font-size: 12px;
	}

	.app .results {
		top: 5vw;
		left: 50%;
		margin-left: -40%;
		border-radius: 50px;
		width: 80%;
		background-color: rgba(255, 255, 255, 0.65);
		text-align: center;
	}
		
	.app .results h2 {
		font-size: 28px;
		line-height: 48.5px;
	}
		
	.app .results .content {
		max-height: 161px;
	}

	.app .results .divider {
		display: block;
		position: relative;
		margin: 0 auto;
		border-bottom: 2px solid rgba(175, 175, 175, 0.65);
		border-radius: 5px;
		width: calc(100% - 100px);
		height: 10px;
	}

	.app .results .page-number {
		display: inline-block;
		margin: 35px 0;
		border-left: 2px solid rgba(165, 165, 165, 0.65);
		border-right: 2px solid rgba(165, 165, 165, 0.65);
		border-radius: 4px;
		padding: 0 26px 0 27px;
		color: #888;
		letter-spacing: 2px;
	}
		
	.app .reset {
		top: calc(11vh + 520px);
	}
}

@media(prefers-reduced-motion: no-preference) {
	.app .constellation {
	  	animation: spin infinite 20s linear;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(3);
	}
	100% {
	    transform: rotate(360deg) scale(1);
	}
}