
body {
    overflow-x: hidden;
}

.credits {
    background: #f1f1f1;
    position: absolute;
    top: -1vh;
    left: -1vw;
    min-width: 102vw;
    min-height: 102vh;
}

.credits * {
    text-align: center;
}

.credits h1 {
    margin: 70px auto;
    border-bottom: 3px solid #ddd;
    width: 225px;
    padding: 0 0 25px;
    font-size: 38px;
    color: #717171;
    user-select: none;
}

.credits section {
    margin: 50px auto;
    max-width: 300px;
    border: 1.25px solid #ddd;
    border-radius: 40px;
    padding: 40px 50px 55px;
    background: #fff;
}

.credits section:last-child {
    margin-bottom: 100px;
}

.credits section p {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.credits section p a {
    text-decoration: none;
    font-weight: 800;
    line-height: 30px;
}

.credits h2 {
    display: block;
    margin: 0 auto 45px;
    width: 300px;
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 25px;
}

.credits span {
    display: inline-block;
    margin: 5.5px 5px;
    border-radius: 7px;
    padding: 6px 11px 9px;
}

.credits h2 a,
.credits h2 a:visited {
    color:rgb(121, 134, 160);
    text-decoration: none;
}

.credits span a,
.credits span a:visited {
    color:white;
    text-decoration: none;
}

.credits #section-pexels {
    padding: 50px 50px 70px;
}

.credits #section-footer {
    padding-bottom: 50px;
}

.credits #section-pexels #pexels-links {
    margin: 45px 0 0;
    border-top: 2px solid #c4c4c4;
    padding: 55px 0 0;
}

.credits #section-pexels span {
    background: #6db3a8;
}

.credits #section-pexels p a,
.credits #section-pexels p a:visited {
    display: inline-block;
    color: #6db3a8;
}

.credits #section-flaticon p a,
.credits #section-flaticon p a:visited {
    color: #64bd96;
}

.credits #section-astrology-api p a,
.credits #section-astrology-api p a:visited {
    color: #dd638e;
}

.credits #section-footer p a,
.credits #section-footer p a:visited {
    color: #b267dd;
    padding: 35px;
}

@media(max-width: 445px) {
        
    .credits h2 {
        display: block;
        margin: 0 auto 45px;
        width: 100%;
        border-bottom: 2px solid #c4c4c4;
        padding-bottom: 25px;
    }

    .credits section {
        margin: 50px auto;
        max-width: calc(90% - 55px);
        border: 1.25px solid #ddd;
        border-radius: 40px;
        padding: 40px 27.5px 55px;
        background: #fff;
    }

    .credits section p {
        display: block;
        margin: 0 auto;
        width: 83.4%;
    }
        
    .credits #section-pexels {
        padding: 50px 27.5px 70px;
    }
    
}