
.server-error * {
    display: block;
    text-align: center;
    position: fixed;
    left: 50vw;
    width: 400px;
}

.server-error h1 {
    top: 21.4vh;
    margin-left: -175px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 80px;
    letter-spacing: 50px;
}

.server-error h2 {
    top: 25vh;
    margin-left: -187px;
    font-size: 40px;
    letter-spacing: 20px;
}

.server-error .message {
    top: 40vh;
    margin-left: -200px;
    word-spacing: 3px;
}

.server-error .link-home,
.server-error .link-home:visited {
    top: 48vh;
    margin-left: -200px;
    text-align: center;
    color: #b267dd;
}

.server-error .link-home p {
    display: inline;
    position: relative;
    left: 0;
}